@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Bold.woff");
  src: url("../fonts/Gilroy-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Light.woff");
  src: url("../fonts/Gilroy-Light.woff2");
  font-weight: normal;
}

@font-face {
  font-family: Galien;
  src: url("../fonts/Galien Regular.woff");
  src: url("../fonts/Galien Regular.woff2");
  font-weight: normal;
}
@supports (-webkit-appearance:none){

}
